{
  "presets": [
    ["env", {
      "targets": {
        "chrome": 52,
        "browsers": ["last 2 versions", "safari >= 7"]
      },
      "useBuiltIns": true
    }],
    "react",
    "stage-0"
  ],
  "plugins": [
    "transform-runtime",
    "transform-decorators-legacy",
    [
      "styled-jsx/babel",
      {
        "optimizeForSpeed": true,
        "plugins": ["styled-jsx-plugin-less"]
      }
    ],
    ["import", {
        "libraryName": "axxd",
        "libraryDirectory": "es",
        "style": "css"
      }
    ]
  ]
}
